.l-menu {
  background: #5383e8;
  height: 48px;
  border-bottom: 1px solid #4171d6;
  box-sizing: border-box;
}

.l-menu a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.menu {
  max-width: 1300px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  display: -ms-flexbox;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__item--active {
  font-weight: 500;
}

.menu__item {
  position: relative;
  margin-left: 24px;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  line-height: 19px;
  font-size: 15px;
  box-sizing: border-box;
}

.l-wrap--index .menu__item>a {
  padding-top: 13px;
  padding-bottom: 9px;
}

.menu__item--active>a,
.menu__item:hover>a {
  color: #fff;
  border-bottom-color: #fff;
}

.menu__item>a {
  color: #b3cdff;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
}

html:lang(de) small,
html:lang(de) div,
html:lang(de) p,
html:lang(de) span,
html:lang(de) button,
html:lang(pl) small,
html:lang(pl) div,
html:lang(pl) p,
html:lang(pl) span,
html:lang(pl) button,
html:lang(fr) small,
html:lang(fr) div,
html:lang(fr) p,
html:lang(fr) span,
html:lang(fr) button,
html:lang(es) small,
html:lang(es) div,
html:lang(es) p,
html:lang(es) span,
html:lang(es) button,
html:lang(sv) small,
html:lang(sv) div,
html:lang(sv) p,
html:lang(sv) span,
html:lang(sv) button,
html:lang(hu) small,
html:lang(hu) div,
html:lang(hu) p,
html:lang(hu) span,
html:lang(hu) button,
html:lang(fi) small,
html:lang(fi) div,
html:lang(fi) p,
html:lang(fi) span,
html:lang(fi) button,
html:lang(tr) small,
html:lang(tr) div,
html:lang(tr) p,
html:lang(tr) span,
html:lang(tr) button,
html:lang(ro) small,
html:lang(ro) div,
html:lang(ro) p,
html:lang(ro) span,
html:lang(ro) button,
html:lang(pt) small,
html:lang(pt) div,
html:lang(pt) p,
html:lang(pt) span,
html:lang(pt) button,
html:lang(sr) small,
html:lang(sr) div,
html:lang(sr) p,
html:lang(sr) span,
html:lang(sr) button,
html:lang(it) small,
html:lang(it) div,
html:lang(it) p,
html:lang(it) span,
html:lang(it) button {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", Dotum;
}

small,
div,
p,
span,
button {
  font-family: Helvetica, "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
}

div {
  display: block;
}

:root {
  --HSDSGlobalFontFamily: "Aktiv Grotesk", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --HSDSGlobalFontFamilyMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --HSDSGlobalFontSize: 13px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

dl,
dt,
dd,
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul {
  list-style-type: disc;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li {
  text-align: -webkit-match-parent;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .l-menu {
      width: 50%;
    }
}
    
