div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

body {
    color: #888;
    font-size: 0.75rem;
    height: 100%;
}

body {
    color: #222;
    cursor: auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

.row .row:before, .row .row:after {
    content: " ";
    display: table;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row .row:after {
    clear: both;
}
.row .row:before, .row .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}
.column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}

.box.box-padding-10-dark-only {
    padding: 0;
    border-top: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.data_table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

body {
    color: #222;
    cursor: auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

.data_table td {
    border-bottom: 1px solid #DDD;
    font-size: 13px;
    padding: 7px 7px;
    position: relative;
}

.data_table th a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
a:visited {
    color: #0078A0;
}

a {
    background-color: transparent;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/* */
.img-align-block i, .img-align-block .subname, .img-align-block-right i, .img-align-block-right .subname {
    color: #999;
    font-weight: 400;
}
em, i {
    font-style: italic;
    line-height: inherit;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
i {
    font-style: italic;
}
.img-align-block .txt, .img-align-block-right .txt {
    flex: 0 1 auto;
    padding-left: 5px;
    word-wrap: break-word;
    line-height: 18px;
}
.data_table td a {
    color: inherit;
    font-size: inherit;
}
a:visited {
    color: #0078A0;
}
a {
    color: #0078A0;
    font-size: 0.75rem;
}
a {
    color: #008CBA;
    line-height: inherit;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
